<body>
    {{ html | safe}}
</body>
<script>
    console.log("reloaded");
    setTimeout(() => {window.location.href = "{{ url_for('index') }}"}, 10000);
</script>
<style>
    table {
        border-collapse: collapse;
        border: solid 2px orange;
        text-align: center;
      }
      table th, table td {
        border: dashed 1px orange;
      }
      th {
        color: #FF9800;
        background: #fff5e5;
        padding: 10px;
        text-align: center;
      }
      td{
        padding: 3px 10px;
      }
</style>